@using ecommerce.Models
@model List<Produto>

@{
    List<Categoria> listagemCategorias = ViewBag.categoriaC;
}

    <div class="btn-group btn-group-toggle" data-toggle="buttons" >
        @foreach (Categoria categ in listagemCategorias)
            {

                    @Html.ActionLink(categ.Nome, "Index", "Home", new {id = categ.CategoriaId}, new {@class = "btn btn-secondary" })


        }

    </div>

    <div class="row" style="-ms-grid-column-align: center ">
        @foreach (Produto produtoCadastrado in Model)
        {
            <div class="col-sm-4" style="text-align: center;">
                <img src="~/Images/@produtoCadastrado.Imagem" style="width: 200px; height: 200px" /><br />

                @produtoCadastrado.Nome
                <br />
                @produtoCadastrado.Preco


            </div>
        }
    </div>


    </div>









