@using ecommerce.Models
@model List<Produto>

@{
    List<Categoria> listagemCategorias = ViewBag.categoriaC;
}

    <div class="btn-group btn-group-toggle" data-toggle="buttons" >
        @foreach (Categoria categ in listagemCategorias)
            {

                    @Html.ActionLink(categ.Nome, "Index", "Home", new {id = categ.CategoriaId}, new {@class = "btn btn-secondary" })


        }

    </div>
<div>
    @if(ViewBag.Validar)
    {
        <img src="~/Images/nenhumProdutoNaCategoria.png" />
    }
</div>
    <div class="row" style="-ms-grid-column-align: center ">
        @foreach (Produto produtoCadastrado in Model)
        {
            if (produtoCadastrado.Nome != null)
            {
            <div class="card border-primary mb-3" style="max-width: 20rem; text-align: center; margin-left: 20px; margin-top: 20px">
                <div class="card-header"><b>@produtoCadastrado.Nome</b></div>
                <img src="~/Images/@produtoCadastrado.Imagem" style="width: 200px; height: 200px; align-self: center"/><br/>
                <div class="card-body">
                    <p class="card-text" style="width: 200px">@produtoCadastrado.Descricao.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item" style="text-align: center"><b>R$@produtoCadastrado.Preco</b><a href='@Url.Action("DetalheProduto", "Home", new { id = produtoCadastrado.ProdutoId })' style="margin-left: 10% "><img src="~/Images/more.png" /></a></li>
               </ul>


            </div>
            }
            else
            {
                <img src="~/Images/nenhumProdutoNaCategoria.png" />
            }

        }
    </div>











